/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[15].oneOf[3].use[1]!../../node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[15].oneOf[3].use[2]!../../node_modules/next/font/local/target.css?{"path":"..\\..\\ui\\theme\\src\\tokens\\fonts.next.ts","import":"","arguments":[{"src":"../fonts/DelaGothicOne-Regular.ttf","variable":"--ui-font-rus","display":"swap"}],"variableName":"delaGothicFont"} ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__delaGothicFont_cdf5dc';
src: url(/_next/static/media/6eb5a011fc4e5e94-s.p.ttf) format('truetype');
font-display: swap;
}@font-face {font-family: '__delaGothicFont_Fallback_cdf5dc';src: local("Arial");ascent-override: 88.05%;descent-override: 21.86%;line-gap-override: 0.00%;size-adjust: 131.74%
}.__className_cdf5dc {font-family: '__delaGothicFont_cdf5dc', '__delaGothicFont_Fallback_cdf5dc'
}.__variable_cdf5dc {--ui-font-rus: '__delaGothicFont_cdf5dc', '__delaGothicFont_Fallback_cdf5dc'
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[15].oneOf[3].use[1]!../../node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[15].oneOf[3].use[2]!../../node_modules/next/font/local/target.css?{"path":"..\\..\\ui\\theme\\src\\tokens\\fonts.next.ts","import":"","arguments":[{"src":"../fonts/UNDERRATED-UltraBold Personal Use.otf","variable":"--ui-font-eng","display":"swap"}],"variableName":"underratedFont"} ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__underratedFont_4443a8';
src: url(/_next/static/media/cff288f2395fd139-s.p.otf) format('opentype');
font-display: swap;
}@font-face {font-family: '__underratedFont_Fallback_4443a8';src: local("Arial");ascent-override: 46.19%;descent-override: 11.09%;line-gap-override: 0.00%;size-adjust: 162.38%
}.__className_4443a8 {font-family: '__underratedFont_4443a8', '__underratedFont_Fallback_4443a8'
}.__variable_4443a8 {--ui-font-eng: '__underratedFont_4443a8', '__underratedFont_Fallback_4443a8'
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[15].oneOf[12].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[15].oneOf[12].use[3]!./app/globals.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
:root {
  --font-pixel: var(--ui-font-eng);
  --app-bg:
    radial-gradient(circle at 50% 50%, #151525 0%, #0e0e1a 60%, #08080f 100%);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  position: relative;
  background: var(--app-bg);
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  background-image: radial-gradient(circle, rgba(90, 170, 42, 0.06) 1px, transparent 1px);
  background-size: 24px 24px;
  pointer-events: none;
  z-index: 0;
}

body > * {
  position: relative;
  z-index: 1;
}

